# another-bigquery-magic
Unofficial bigquery magic Command for IPython notebook

[![](https://badge.fury.io/py/another-bigquery-magic.svg)](https://badge.fury.io/py/another-bigquery-magic)

## Installation

```python
# from pypi
$ pip install another-bigquery-magic

# alternatively, from github
$ git clone https://github.com/kota7/another-bigquery-magic.git --depth 1
$ pip install -U ./another-bigquery-magic
```

## Usage

In [ ]:
# Set the project ID
project_id = "<google-cloud-project-id>"
!gcloud config set project {project_id}

In [1]:
# Load the bq magic command
%load_ext bq

# If you are authenticated to the google cloud,
# the following line should work.
# Otherwise, authenticate as in the next cell.
%bq SELECT 1 AS test

Start query at 2024-01-12 15:44:30.069788
End query at 2024-01-12 15:44:32.851079 (Execution time: 0:00:02.781291, Processed: 0.0 GB)

   test
0     1

### Authentication to google cloud

In [ ]:
# Some examples of authentication methods.

# Example 1. Authentication on colab
from google.colab import auth
auth.authenticate_user()

# Example 2. Authentication by user log-in
# Note: to access external table with google drive,
#       we also need "https://www.googleapis.com/auth/drive" in the scope
!gcloud auth application-default login --scopes="https://www.googleapis.com/auth/bigquery"

# Example 3. Authentication with a local json file
jsonfile = "<json-file-path>"
%config BigqueryMagic.localjson = jsonfile

In [2]:
%%bq
/* Cell magic is also defined */
SELECT
  1 AS x,
  2 AS y

Start query at 2024-01-12 15:44:33.198577
End query at 2024-01-12 15:44:36.067208 (Execution time: 0:00:02.868631, Processed: 0.0 GB)

   x  y
0  1  2

### Configurable parameters

In [3]:
# Change the limit to the number of rows to get (default is 50000 rows)
%config BigqueryMagic.autolimit = 2  # at most two rows to return

q = """
SELECT 1 AS x
UNION ALL
SELECT 2 AS x
UNION ALL
SELECT 3 AS x
"""
x = %bq {q}
display(x)

# Reset to a reasonable number
%config BigqueryMagic.autolimit = 10000

Start query at 2024-01-12 15:45:13.079620
End query at 2024-01-12 15:45:16.056035 (Execution time: 0:00:02.976415, Processed: 0.0 GB)
Result is truncated at the row 2 of 3

   x
0  1
1  2

In [4]:
# Control the amount of messages
%config BigqueryMagic.showbytes = False
x = %bq SELECT false AS showbytes
display(x)

%config BigqueryMagic.showbytes = True
%config BigqueryMagic.showtime = False
x = %bq SELECT true AS showbytes, false AS showtime
display(x)

%config BigqueryMagic.showtime = True
%config BigqueryMagic.quiet = True
x = %bq SELECT true AS showbytes, true AS showtime, true AS quiet
display(x)

Start query at 2024-01-12 15:45:16.395548
End query at 2024-01-12 15:45:19.103520 (Execution time: 0:00:02.707972)

   showbytes
0      False

Processed: 0.0 GB

   showbytes  showtime
0       True     False

   showbytes  showtime  quiet
0       True      True   True