In [ ]:
# Set the project ID
project_id = "<project-id>"
!gcloud config set project {project_id}

# Load the bq magic command
%load_ext bq

In [3]:
# If you are authenticated already, skip this cell.

# Authentication on colab
from google.colab import auth
auth.authenticate_user()

# Authentication by user log-in
# Note: to access external table with google drive, we also need "https://www.googleapis.com/auth/drive" in the scope
!gcloud auth application-default login --scopes="https://www.googleapis.com/auth/bigquery"

# Authentication with a local json file
jsonfile = "<json-file-path>"
%config BigqueryMagic.localjson = jsonfile

In [4]:
%bq SELECT 1 AS test

Start query at 2024-01-09 12:33:04.250778
End query at 2024-01-09 12:33:05.402180 (Execution time: 0:00:01.151402, Processed: 0.0 GB)

   test
0     1